:root{
	--white: #ffffff;
	--gray: #d9d9d9;
	--black: #000000;
	
	--verde-principal: #7FAE9D;
	--verde-claro:     #CFE3DB;
	
	--bege-fundo:      #F5EFE6;
	--bege-secundario: #E8DCC8;
	
	--laranja-cta:     #D9A066;
	--laranja-hover:   #C48B52;
	
	--texto-principal: #3A3A3A;
	--texto-secundario:#6B6B6B;
	
	--icone-verde:   #8FBFB1;
	--icone-bege:    #E5C9A8;
	--icone-laranja: #E0A96D;
	--icone-oliva:   #9FB7A5;
	
	--span-color: #d9eaff;

	--font-family: 'Poppins', sans-serif;
}