.hero {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-content {
	min-height: 450px;
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-image: linear-gradient(
		to right,
		var(--bege-fundo) 20%,
		transparent 70%),
		url("../../assets/eduardo.png"
	);
	background-position: 100% 10%;
	background-size: 100%;
	background-repeat: no-repeat;
	border-bottom-left-radius:50% 40%;
	border-bottom-right-radius:60% 40%;
}

.hero-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}

.hero-text h1 {
	padding: 40px 0 10px 0;
	width: 400px;
	font-weight: 500;
	font-size: 2.4rem;
	border-bottom: 1px solid rgb(0,0,0,0.1);
}

.hero-text p {
	margin-top: 20px;
	width: 100%;
	font-size: 1.6rem;
}

.btn-contato {
	width: 180px;
	height: 35px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--laranja-cta);
	border-radius: 4px;
	text-decoration: none;
	color: var(--white);
}

.areas-atendimento {
	width: 100%;
	margin: 40px 0;
	padding-top: 10px;
	border-top: 1px solid rgb(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
}

.areas-atendimento ul {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 7px;
}

.lista-areas {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.lista-areas img {
	width: 130px;
	height: 100px;
}

.lista-areas h3 {
	font-size: 1.4rem;
}

@media (max-width:  600px) {
	.hero-content {
		background-image: none;
	}

	.hero-text h1 {
		font-size: 2.2rem;
	}

	.hero-text p {
		font-size: 1.4rem;
	}

	.lista-areas img {
		scale: 0.8;
	}

	.lista-areas h3 {
		font-size: 1.0rem;
	}
}

@media (min-width: 601px) and (max-width: 1023px) {
	.hero-content {
		height: 300px;
	}

	.lista-areas img {
		scale: 1.0;
	}

	.lista-areas h3 {
		font-size: 1.2rem;
	}
}