nav.navbar {
	padding: 30px 0;
	width: 100%;
	background-color: var(--secondary-color);
}

#btn-menu {
	background-color: var(--secondary-color);
	border: none;
}

.nav-mobile {
	display: none;
}

.nav-desktop {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	gap: 25px;
}

nav.navbar a {
	color: var(--white);
	text-decoration: none;
	font-weight: 600;
}

.navbar-logo{
	font-size: clamp(1.8rem, 2.2vw, 2.5rem);
}

.nav-desktop .nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
	gap: 25px;
}

.nav-mobile .nav-links {
	padding: 20px 0px 0px 0px;
	flex-direction: column;
	align-items: center;
	list-style: none;
	gap: 15px;
}

nav.navbar ul a{
	font-size: clamp(1.2rem, 1.2vw, 1.4rem);
}

.nav-desktop .nav-links a:hover{
	color: var(--tertiary-color);
}

@media (max-width: 600px) {
	#btn-menu, .nav-mobile {
		display: block;
	}

	.nav-desktop {
		display: none;
	}

	.nav-mobile .nav-links {
		display: none;
	}
	
	.navbar-mobile {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 50px;
	}
	
}

@media (min-width:601px) and (max-width: 1024px) {
	
	.navbar-logo{
		font-size: clamp(1.5rem, 2.2vw, 2.5rem);
	}

	nav.navbar ul a{
		font-size: clamp(1.0rem, 1.2vw, 1.4rem);
	}
}